<div class="ui form">
    <%= form_for @custom_field do |f| %>

        <%= render partial: "shared/validations", locals: {record: @custom_field} %>

        <div class="field">
            <%= f.label :name %> 
            <%= f.text_field :name%>
        </div><br/>

        <div class="field">
            <%= f.label :field_type %>
            <%= f.select(:field_type, %w[text_field text_area combo_box], {}, {class: "ui fluid dropdown"}) %>

            <div class="combo-option" style="display: none">
                <%= f.label "Type combo box options separated by comma"%>
                <%= f.text_field :combo_options%>
            </div>
        </div
        <br/><br/>

        <%= f.submit class: "ui primary button " %>
        <%= link_to "Back", :custom_fields, class: "ui button" %>
        <%= link_to "Back to Contacts", :root, class: "ui button" %>
    <% end %>
</div>
