<table class="ui table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Other</td>
            <td>Options</td>
        </tr>
    </thead>
    <tbody>
        <% @fields.each do |field|%>
            <tr>
                <td><%= field.name %></td>
                <td><%= field.field_type %></td>
                <td><%= field.combo_options %></td>
                <td><%= link_to 'Destroy', field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>        
    </tbody>
</table>

<%= link_to "Add new Custom Field", new_custom_field_path, class: "primary ui button" %>
<%= link_to "Back to Contacts", :root, class: "ui button" %>

