<!DOCTYPE html>
<html>
    <head>
        <title>ContactsRd</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="main-content">
            <%= current_user.email %> - <%= link_to "Sign out", destroy_user_session_path, method: :delete %>


            <div class="row">
                <div class="small-3 small-centered columns"> <h3>RD Contacts</h3></div>
                <%= semantic_flash %>
                
                <%= yield %>
            </div>
        </div>
        </div>
    </body>
</html>
